name: Test Builds for Multiple Targets
on:
  pull_request:
    types: [opened]
    branches:
      - main
    paths:
      - '**.fs'
      - '.github/workflows/multiple_builds.yml'
      - '**/packages.lock.json'
  push:
    paths:
      - '**.fs'
env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  PROJECT_NAME: HODI
  TARGET_FRAMEWORK: 'netstandard2.1'
  RELEASE_OS: 'ubuntu-latest'
  RELEASE_DOTNET_VERSION: 6.0.X
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        dotnet: [ '7.0.x', '6.0.x', '5.0.x' ]
    name: Dotnet ${{ matrix.dotnet }} ${{ matrix.os }} Runner
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: |
          ${{ runner.os }}-nuget-
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ matrix.dotnet }}
        dotnet-quality: preview
    - name: Restore Dependencies
      run: |
        dotnet restore src/${{ env.PROJECT_NAME }}
    - name: Build
      run: |
        dotnet build --no-restore --configuration Release --verbosity quiet src/${{ env.PROJECT_NAME }}
