name: Publish Coverage Results
on:
  pull_request:
    types:
      - closed
    branches:
      - main
    paths:
      - '**.fs'
      - '.github/workflows/test.yml'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: coverage-results
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
