name: Test Project
on:
  pull_request:
    types: [opened, closed]
    paths:
      - '**.fs'
      - '.github/workflows/test.yml'
env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.201
      - name: Test
        run: |
          dotnet test --configuration Release --nologo --verbosity normal --results-directory coverage --collect:"XPlat Code Coverage" --settings coverlet.runsettings
          mv coverage/*/coverage.info coverage/lcov.info
      - name: Upload Coverage
        if: ${{ github.event.action == 'closed' }}
        uses: actions/upload-artifact@v3
        with:
          name: coverage-results
          path: coverage/lcov.info
  publish:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.event.action == 'closed' }}
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: coverage-results
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          git-branch: main
          path-to-lcov: ./lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
